p{
    color: red;
    background-color: aqua;
}
img{
    border: 10px ridge  red;
    border-radius: 15px;
    background-color: blanchedalmond;
}
h1{
    background-color: aqua;
    border: 10px solid purple;
    border-radius: 50px;
}
form{
    border: 2px dotted gray;
}